body {
    /* GLOBAL STYLES-----------------*/
  background:  #000000; /* */
  margin: 0;  /* add/remove space around the element */
  padding: 0; /* adds/removes space inside of the box */
              /* top, right, bottom, left */

  /*border: 2px solid red; between the margin and padding*/
  /*font-family: 'Arimo', sans-serif; */
  /* "Helvetica Neue", Helvetica, Arial, sans-serif; */

  color: #FFFFFF; /* text colour */
}

h1 {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
 }

h2 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300; /* removes default bold styles */
  margin: 20px; /* removes default space */
}

a {
  font-family: 'Arial', sans-serif;
  color: gray; /* link colour */
  text-decoration: none; /* removes default underline */
}
header,
main,
nav {
  font-family: 'Helvetica', sans-serif;
  padding: 0px;
}
/*element to be cleared
(where it should go back to a normal page flow)*/
main {
  clear: both; /*both will clear either a left or right float.*/
}

/* HEADER STYLES----------------------*/
header h1 {         /* Sx!... */
  padding: 10px;
  font-size: 48px;
}
header h2 {         /* description */}
header {
  float: left; /*to get block elements to left.*/
}

/* Center Nav Bar */
nav {
  text-align: center;
  /* margin: 0; */
  margin: 0;
  border: 0px;
  padding: 0px
 }

 /* to center a navigation bar */
 nav ul {
     display: inline-block;
     list-style-type: none;
     margin: 0;
     padding: 0px
 }

nav a {
    margin: 0;
    padding: 0px 4px;
    /*padding: 50px;  space between elements(links) */
}

nav a:hover{color: white;}

/*  iframe center */
iframe {
 display:block;
 margin:auto;
 /* top | right | bottom | left */
padding: 100px 0px 0px 0px;
}

audio {
 display:block;
 margin:auto;
 width: 50%;
/* top | right | bottom | left */
padding: 50px 0px 0px 0px;
}

p {
display:block;
margin:auto;
text-align: center;
font-family: 'Arial', sans-serif;
color: gray;
padding: 5px 0px 0px 0px;
}



/* ABOUT STYLES---------------------*/

/* FOOTER STYLES---------------------*/
footer {
  clear: both;
}

/* font-family: 'Arimo', sans-serif; */

/* Grays, CCCCCC, 999999, 666666, 333333 */

/* HTML Named Colours
Black #000000, White #FFFFFF
*/
